<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">My Publications</span></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <p><a href="https://scholar.google.com/citations?user=lPIo6ucAAAAJ"><i class="fa fa-graduation-cap fa-3x"></i></a></p>
      <p><a href="https://scholar.google.com/citations?user=lPIo6ucAAAAJ">Google Scholar</i></a></p>
</div>
</div>
	
 <div class="row">
      <h1>2024</h1>
      <ul style="list-style-type: none">
      <h2>Peer Reviewed</h2>
      <ul style="list-style-type: none">

	<li class="entry">
	  <h2><strong>Dirichlet Stochastic Weights Averaging for Graph Neural Networks</strong></h2>
	  <em>Minhoi Park</em>, Rakwoo Chang, and Kyungwoo Song
	  Applied Intelligence 2024.(SCIE, JCR 2023 IF=3.4)

          <h2><strong>Exploring the Potential of Foundation Models as Reliable AI Contact Centers</strong></h2>
	  Hoyyoon Byun, <em>Minhoi Park</em>, Seolah Kim, Eunbi Kim, and Kyungwoo Song
	  IJCAI 2024 Workshop (Trustworthy Interactive Decision-Making with Foundation Models)
		
	  <h2><strong>Language Model-guided Student Performance Prediction with Multimodal Auxiliary Information</strong></h2>
	  Changdae Oh, <em>Minhoi Park</em>, Sungjun Lim, and Kyungwoo Song
	  Expert Systems With Applications 2024. (SCIE, JCR 2023 IF=7.8)
	 </li>

      </ul>

     
    </div>	 
     
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
      <p><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
    </div>
  </div>
</div>
