<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">My Publications</span></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <p><a href="https://scholar.google.com/citations?user=lPIo6ucAAAAJ"><i class="fa fa-graduation-cap fa-3x"></i></a></p>
      <p><a href="https://scholar.google.com/citations?user=lPIo6ucAAAAJ">Google Scholar</i></a></p>
</div>
</div>
	
 <div class="row">
      <h1>2024</h1>
      <ul style="list-style-type: none">

	<li class="entry">
	  <h2><strong>Pruning AdaBoost for Continuous Sensors Mining Applications</strong></h2>
	  <em>Minhoi Park</em>, Rakwoo Chang, and Kyungwoo Song
	  Applied Intelligence 2024.(SCIE, JCR 2023 IF=3.4)
	  #<a href="https://docs.google.com/file/d/0B-DJ98-Q1GtpN0pFajR1TVBhZGc/edit?usp=sharing">[PDF]</a><a href="https://docs.google.com/file/d/0B-DJ98-Q1GtpUWhTT1M0Y2Fod0k/edit?usp=sharing">[poster]</a>
	</li>

      </ul>

     
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
      <p><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
    </div>
  </div>
</div>
